main {
    width: 50%;
    padding-top: 5%;
    margin: 0 auto;
    height: 100vh;
}
h1 {
    text-align: center;
    position: relative;
    font-size: 50px;
}
p#mondai {
    font-size: 30px;
    font-weight: bold;
    visibility: hidden;
}
.btn {
    background-color: #f08080;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    width: 20%;
    height: 20%;
    padding: 10px;
    border:none;
    border-radius: 100vh;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 39%;
    box-shadow: 0px 20px 0px 0px rgba(255, 186, 186, 0.5);
}

#replay {
    visibility: hidden;
}

.btn:hover {
    background-color: #dc143c;
}

.btn:active {
    transition: 0.2s;
    box-shadow: none;
    transform: translateY(10px);
}
#score{
    font-size: 45px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-51%, -15%);
}
#highscore{
    font-size: 45px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-60%, -50%);
}